<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- map -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!-- page name -->
  <title>Driver Offer Form</title>

  <!-- css -->
  <style>
    /* nav css */
    .nav-item {
      margin-inline-end: 30px;
      text-align: center;
      margin-bottom: 15px;
    }

    .routing {
      color: black;
      text-decoration: none;
    }

    /* body css */
    body {
      width: 100%;
      height: 100%;
      background-color: honeydew;
    }

    .content {
      padding: 5% 20%;
    }

    /* map css */
    #map {
      height: 300px;
      margin-bottom: 30px;
      margin-top: 25px;
    }
  </style>

</head>

<body>
  <!-- nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <!-- logo -->
      <a href="driverHomepage.html" class="navbar-brand mx-2 routing">
        <img src="../../static/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
      </a>

      <!-- nav items -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="driverHomepage.html" class="nav-link routing">Home</a>
          </li>
          <li class="nav-item">
            <a href="driverOfferForm.html" class="nav-link routing">Offer A Ride</a>
          </li>
          <li class="nav-item">
            <a href="driverRideRequests.html" class="nav-link routing">Upcoming Rides</a>
          </li>
          <li class="nav-item">
            <a href="driverRides.html" class="nav-link routing">Ride History</a>
          </li>
          <li class="nav-item">
            <a href="driverProfile.html" class="nav-link routing">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- body -->
  <div class="content">

    <!-- form title -->
    <div class="row">
      <h3 class="my-3 text-center">Offer A Ride</h3>
    </div>

    <!-- enter details of request through form -->
    <div class="d-flex justify-content-center">
      <div class="w-100 mb-5 mt-2">
        <form id="routeForm">

          <!-- start location -->
          <div class="my-2">
            <label for="startLocation" class="form-label">Start Location</label>
            <input type="text" class="form-control" id="startLocation" required>
          </div>

          <!-- end location -->
          <div class="my-2">
            <label for="endLocation" class="form-label">End Location</label>
            <input type="text" class="form-control" id="endLocation" required>
          </div>

          <!-- date and time -->
          <div class="my-2">
            <label for="datetime-local" class="form-label">Date and Time</label>
            <input type="datetime" class="form-control" id="datetime" required>
          </div>

          <!-- base price -->
          <div class="my-2">
            <label for="baseprice" class="form-label">Calculated Base Price</label>
            <input type="text" class="form-control" id="baseprice" readonly>
          </div>

          <!-- driver fee -->
          <div class="my-2">
            <label for="driverfee" class="form-label">Driver Fee</label>
            <input type="number" class="form-control" id="driverfee" required>
          </div>

          <!-- time -->
          <div class="my-2">
            <label for="totalprice" class="form-label">Total Price</label>
            <input type="number" class="form-control" id="totalprice" readonly>
          </div>
          <button type="submit" class="btn btn-outline-dark my-4 w-100 bg-white">Offer</button>
        </form>
      </div>
    </div>

    <!-- map -->
    <div class="row">
      <h3 class="my-3 text-center">Your Route</h3>
    </div>
    <div id="map"></div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>


    <!-- map script -->
    <!-- Load the Google Maps API -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu5xYBC5OCuZImTFY1xt81NdOnhP0IB_g&callback=initMap"></script>

    <script>
      function initMap() {
        // Initialize the map
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: { lat: 37.7749, lng: -122.4194 } // Default map center is San Francisco
        });

        // Listen for form submission
        document.getElementById('routeForm').addEventListener('submit', function (event) {
          event.preventDefault(); // Prevent form submission

          // Get the start and end locations
          var startLocation = document.getElementById('startLocation').value;
          var endLocation = document.getElementById('endLocation').value;

          // Create the directions service and renderer
          var directionsService = new google.maps.DirectionsService();
          var directionsRenderer = new google.maps.DirectionsRenderer();

          // Render the directions on the map
          directionsRenderer.setMap(map);

          // Create the request object for directions service
          var request = {
            origin: startLocation,
            destination: endLocation,
            travelMode: 'DRIVING'
          };

          // Send the request to the directions service
          directionsService.route(request, function (result, status) {
            if (status == 'OK') {
              // Display the route on the map
              directionsRenderer.setDirections(result);
            }
          });
        });
        // get lat and lng
        var geocoder = new google.maps.Geocoder();

        function getLatLng() {
          return new Promise(resolve => {
            setTimeout(function(){
              var startLocation = document.getElementById('startLocation').value;
              var allLatLng = [];

              geocoder.geocode({ 'address': startLocation }, function (results, status) {
                if (status === 'OK') {
                  var startlat = results[0].geometry.location.lat();
                  allLatLng.push(startlat)
                  var startlng = results[0].geometry.location.lng();
                  allLatLng.push(startlng)
                  // console.log('Latitude: ' + startlat);
                  // console.log('Longitude: ' + startlng);
                } else {
                  console.log('Geocode was not successful for the following reason: ' + status);
                }
              });

              var endLocation = document.getElementById('endLocation').value;

              geocoder.geocode({ 'address': endLocation }, function (results, status) {
                if (status === 'OK') {
                  var endlat = results[0].geometry.location.lat();
                  allLatLng.push(endlat)
                  var endlng = results[0].geometry.location.lng();
                  allLatLng.push(endlng)
                  // console.log('Latitude: ' + endlat);
                  // console.log('Longitude: ' + endlng);
                } else {
                  console.log('Geocode was not successful for the following reason: ' + status);
                }
              
              resolve(allLatLng)
              console.log(allLatLng.length)
              }, 2000);
            })
          })
      
          // console.log(allLatLng)
          return allLatLng;
        }
        return getLatLng()
      }

      // pricing


      // Get references to both input fields
      const startLocation = document.getElementById("startLocation");
      const endLocation = document.getElementById("endLocation");

      // Add an onkeyup event listener to both input fields
      startLocation.addEventListener("keyup", handleKeyup);
      endLocation.addEventListener("keyup", handleKeyup);

      // Define the callback function to be executed on keyup
      async function handleKeyup(event) {
        console.log(initMap())
        var allLatLng = await initMap();
        console.log()
        console.log(typeof(allLatLng))
        var startLat = allLatLng[0];
        console.log(startLat)
        var startLng = allLatLng[1];
        console.log(startLng)
        var endLat = allLatLng[2];
        console.log(endLat)
        var endLng = allLatLng[3];
        console.log(endLng)
        
        axios.get(`/api/v1/base_price/${startLat},${startLng}/${endLat},${endLng}`)
          .then(response => {
            var baseprice = response.data;
            console.log(baseprice)
          })
          .catch(error => {
            console.log(error);
          });
      }
    </script>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>

</html>