<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <title>Driver Sign Up</title>

  <style>
    body {
      background-image: url("../../static/loginSignup.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
    }

    .whitebox {
      border-radius: 0.5rem;
      margin: 80px 0;
      padding: 50px 0;
    }

    .form-group {
      margin: 15px 0;
    }

    a {
      text-decoration: none;
      color: black;
    }
  </style>
</head>

<body>
  <div class="container-fluid d-flex align-items-center justify-content-center" id="identity">
    <div class="whitebox bg-white w-75 d-flex align-items-center justify-content-center">
      <div class="w-100">
        <div>
          <h3 class="text-center">Choose Your Identity</h3>
        </div>
        <div class="d-flex justify-content-center">
          <div class="w-75">
            <form id="driver-form">
              <div class="form-group">
                <label for="DName">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" required>
              </div>
              <div class="form-group">
                <label for="DGender">Gender:</label>
                <select class="form-control" id="gender" required>
                  <option value="">--Select Gender--</option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
              </div>
              <div class="form-group">
                <label for="DEmail">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" required>
              </div>
              <div class="form-group">
                <label for="DPassword">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" required>
              </div>
              <div class="form-group">
                <label for="DPhoneNo">Phone Number:</label>
                <input type="tel" class="form-control" id="phoneNo" placeholder="Enter phone number" required>
              </div>
              <div class="form-group">
                <label for="DVehicleNo">Vehicle Number:</label>
                <input type="text" class="form-control" id="vehicleNo" placeholder="Enter vehicle number" required>
              </div>
              <div class="form-group">
                <label for="DLicenseNo">License Number:</label>
                <input type="text" class="form-control" id="licenseNo" placeholder="Enter license number" required>
              </div>
              <div class="form-group">
                <label for="DLicenseExpiration">License Expiration:</label>
                <input type="date" class="form-control" id="licenseExpiration"
                  placeholder="Enter license expiration" required>
              </div>
              <div class="form-group">
                <label for="DCar">Car:</label>
                <input type="text" class="form-control" id="car" placeholder="Enter car" required>
              </div>
              <div class="form-group">
                <label for="DCapacity">Capacity:</label>
                <input type="number" class="form-control" id="capacity" placeholder="Enter capacity" required>
              </div>
              <button type="submit" id="submit" class="btn btn-outline-dark mt-3 mb-3 w-100">
                Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    document.getElementById("name").value = "{{ name }}"
    document.getElementById("email").value = "{{ email }}"

    // updating passenger
    const form = document.getElementById('driver-form');
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      axios.post('http://127.0.0.1:5000/api/v1/driver/add_driver', {
        DName: document.getElementById("name").value,
        DGender: document.getElementById("gender").value,
        DEmail: document.getElementById("email").value,
        DPassword: document.getElementById("password").value,
        DPhoneNo: document.getElementById("phone"),
        DVehicleNo: document.getElementById("vehicleNo").value,
        DLicenseNo: document.getElementById("licenseNo").value,
        DLicenseExpiration: document.getElementById("licenseExpiration").value,
        DCar: document.getElementById("car").value,
        DCapacity: document.getElementById("capacity").value

      })
        .then(function (response) {
          console.log(response);
          window.location.replace("/login");
        })
        .catch(function (error) {
          console.log(error);
        });
    });
    
  </script>
</body>

</html>