<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Driver Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid d-flex align-items-center justify-content-center" id="identity">
    <div class="whitebox bg-white w-75 d-flex align-items-center justify-content-center">
      <div class="w-100">
        <div>
          <h3 class="text-center">Driver Login</h3>
        </div>
        <div class="d-flex justify-content-center">
          <div class="w-75">
            <form>
              <div class="form-group">
                <label for="DEmail">Email:</label>
                <input type="email" class="form-control" id="DEmail" placeholder="Enter email" required>
              </div>
              <div class="form-group">
                <label for="DPassword">Password:</label>
                <input type="password" class="form-control" id="DPassword" placeholder="Enter password" required>
              </div>
              <button type="submit" class="btn btn-outline-dark mt-3 mb-3 w-100">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
