<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- map -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!-- page name -->
  <title>Passenger Find Carpool</title>

  <!-- css -->
  <style>
    /* nav css */
    .nav-item {
      margin-inline-end: 30px;
      text-align: center;
      margin-bottom: 15px;
    }

    .routing {
      color: black;
      text-decoration: none;
    }

    /* body css */
    body {
      width: 100%;
      height: 100%;
      background-color: honeydew;
    }

    .content {
      padding: 5% 20%;
    }

    /* map css */
    #map {
      height: 300px;
      margin-bottom: 30px;
      margin-top: 25px;
    }
  </style>

</head>

<body>
  <!-- nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <!-- logo -->
      <a href="pHome.html" class="navbar-brand mx-2 routing">
        <img src="../../static/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
      </a>


      <!-- nav items -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="pHome.html" class="nav-link routing">Home</a>
          </li>
          <li class="nav-item">
            <a href="pFindCarpool.html" class="nav-link routing">Find Carpool</a>
          </li>
          <li class="nav-item">
            <a href="pUpcoming.html" class="nav-link routing">Upcoming Rides</a>
          </li>
          <li class="nav-item">
            <a href="pPastRides.html" class="nav-link routing">Ride History</a>
          </li>
          <li class="nav-item">
            <a href="pProfile.html" class="nav-link routing">Profile</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link routing"><button class="btn btn-sm btn-outline-dark">Log Out</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- body -->
  <div class="content">

    <!-- form title -->
    <div class="row">
      <h3 class="my-3 text-center">Find A Ride</h3>
    </div>

    <!-- enter details of request through form -->
    <div class="d-flex justify-content-center">
      <div class="w-100 mb-5 mt-2">
        <form id="routeForm">

          <!-- start location -->
          <div class="my-2">
            <label for="startLocation" class="form-label">Start Location</label>
            <input type="text" class="form-control" id="startLocation" required>
          </div>

          <!-- end location -->
          <div class="my-2">
            <label for="endLocation" class="form-label">End Location</label>
            <input type="text" class="form-control" id="endLocation" required>
          </div>

          <!-- date -->
          <div class="my-2">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" required>
          </div>

          <!-- time -->
          <div class="my-2">
            <label for="time" class="form-label">Time</label>
            <input type="time" class="form-control" id="time" step="2" required>
          </div>
          <button type="submit" id="find" class="btn btn-outline-dark my-4 w-100 bg-white">Find</button>
        </form>
      </div>
    </div>

    <!-- map -->
    <div class="row">
      <h3 class="my-3 text-center" id="route" style="display: none;">Your Route</h3>
    </div>
    <div id="map" style="display: none;" class="text-center"></div>

    <!-- available / rides to choose from -->
    <div class="container-fluid" id="carpoolList" style="display: none;">
      <div class="row">
        <h3 class="my-3 text-center">Ride Offers</h3>
      </div>
      <div id="matchingCarpools">No Rides With Your Requirements Found.</div>
    </div>
  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    function initMap() {
      // Initialize the map
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: { lat: 37.7749, lng: -122.4194 } // Default map center is San Francisco
      });

      // Listen for form submission
      document.getElementById('routeForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent form submission

        // Get the start and end locations
        var startLocation = document.getElementById('startLocation').value;
        var endLocation = document.getElementById('endLocation').value;

        // Create the directions service and renderer
        var directionsService = new google.maps.DirectionsService();
        var directionsRenderer = new google.maps.DirectionsRenderer();

        // Render the directions on the map
        directionsRenderer.setMap(map);

        // Create the request object for directions service
        var request = {
          origin: startLocation,
          destination: endLocation,
          travelMode: 'DRIVING'
        };

        // Send the request to the directions service
        directionsService.route(request, function (result, status) {
          if (status == 'OK') {
            // Display the route on the map
            directionsRenderer.setDirections(result);
          }
        });
      });
      // get lat and lng
      var geocoder = new google.maps.Geocoder();

      function getLatLng() {
        return new Promise(resolve => {
          setTimeout(function () {
            var startLocation = document.getElementById('startLocation').value;
            var allLatLng = [];

            geocoder.geocode({ 'address': startLocation }, function (results, status) {
              if (status === 'OK') {
                var startlat = results[0].geometry.location.lat();
                allLatLng.push(startlat)
                var startlng = results[0].geometry.location.lng();
                allLatLng.push(startlng)
                // console.log('Latitude: ' + startlat);
                // console.log('Longitude: ' + startlng);
              } else {
                console.log('Geocode was not successful for the following reason: ' + status);
              }
            });

            var endLocation = document.getElementById('endLocation').value;

            geocoder.geocode({ 'address': endLocation }, function (results, status) {
              if (status === 'OK') {
                var endlat = results[0].geometry.location.lat();
                allLatLng.push(endlat)
                var endlng = results[0].geometry.location.lng();
                allLatLng.push(endlng)
                // console.log('Latitude: ' + endlat);
                // console.log('Longitude: ' + endlng);
              } else {
                console.log('Geocode was not successful for the following reason: ' + status);
              }

              resolve(allLatLng)
            }, 2000);
          })
        })
        // console.log(allLatLng)
        return allLatLng;
      }
      return getLatLng()
    }
    // pid TO BE CHANGED
    var pid = 1;

    // function to select carpool
    function selectCarpool(cpid, did) {
      // get pemail with pid
      axios.get(`http://127.0.0.1:5001/api/v1/passenger/get_passenger_by_id/${pid}`)
        .then(response3 => {
          console.log(response3.data);
          // add passenger
          axios.get(`http://127.0.0.1:5110/add_passenger/${cpid}/${did}/${pid}/${response3.data.data.passenger.PEmail}`)
            .then(response4 => {
              var price = response4.data
              console.log(price);
              window.open(`http://127.0.0.1:5004/api/v1/payments/create-checkout-session/${price}/${cpid}/${pid}`, "_blank");
            })
            .catch(error => {
              console.error(error);
              console.log(cpid)
              console.log(did)
            console.log(pid)
            console.log(response3.data.data.passenger.PEmail)
            });
        })
        .catch(error => {
          console.error(error);
        });

      // update capacity
      axios.put(`http://127.0.0.1:5002/api/v1/carpool/update_carpool_capacity/${cpid}`)
        .then(response => {
          console.log(response.data);
        })
        .catch(error => {
          console.error(error);
        });

    }

    // find matching carpool
    const find = document.querySelector('#find');

    find.addEventListener('click', async () => {
      var allLatLng = await initMap();
      var startLat = allLatLng[0];
      var startLng = allLatLng[1];
      var endLat = allLatLng[2];
      var endLng = allLatLng[3];

      route.style.display = 'block';
      map.style.display = 'block';
      carpoolList.style.display = 'block';
          // console.log(response.data);

      axios.post(`http://127.0.0.1:5100/api/v1/matching/get_matching_carpools/`, {
        start_lat: startLat,
        start_lng: startLng,
        end_lat: endLat,
        end_lng: endLng,
        time: document.getElementById("time").value,
        date: document.getElementById("date").value,
        PID: pid
      })
        .then(function (response) {
          
          var carpoolNum = 0;

          // making the cards for the carpool
          console.log(response.data);

          if (response.data.carpools.length != 0) {
            var carpoolData = '';
            var matchedCarpools = response.data.carpools;
            for (var i = 0; i < response.data.carpools.length; i++) {
              // for differentiation of the select button
              carpoolNum += 1;

              // function to get driver name
              let drivername;
              axios.get(`http://127.0.0.1:5000/api/v1/driver/get_driver_by_id/${matchedCarpools[i].DID}`)
                .then(response1 => {
                  console.log(response1.data);
                  drivername = response1.data.data.driver.DName;
                })
                .catch(error => {
                  console.error(error);
                });
              console.log(drivername)

              // adding to html
              carpoolData += `<div class="row my-4">`;
              carpoolData += `<div class="card">`;
              carpoolData += `<p class="card-text p-4 pb-0 mb-0" style="text-align:left;">`;
              carpoolData += `<b>Start Location:</b> ${matchedCarpools[i].CPStartLocation} <br>`;
              carpoolData += `<b>End Location:</b> ${matchedCarpools[i].CPEndLocation} <br>`;
              carpoolData += `<b>Date and Time:</b> ${matchedCarpools[i].DateTime}<br>`;
              carpoolData += `<b>Driver Name:</b> ${matchedCarpools[i].driver.DName}<br>`;
              carpoolData += `<b>Price:</b> ${matchedCarpools[i].PassengerPrice}</b>  <br>`;
              carpoolData += `<b>Remaining Capacity:</b> ${matchedCarpools[i].Capacity_remaining}`;
              carpoolData += `</p>`;
              carpoolData += `<div class="d-flex justify-content-center">`;
              var buttonid = `select${carpoolNum}` //button id
              carpoolData += `<button type="submit" class="btn btn-outline-dark m-4 mt-0 w-100 bg-white" onclick="selectCarpool(${matchedCarpools[i].CPID}, ${matchedCarpools[i].DID})">`
              // carpoolData += `<a href= "passengerRides.html" class="routing">Select</a>`
              carpoolData += `Select`
              carpoolData += `</button>`;
              carpoolData += `</div>`;
              carpoolData += `</div>`;
              carpoolData += `</div>`;
              carpoolData += `</div>`;
            }
            document.getElementById("matchingCarpools").innerHTML = carpoolData;
          }
        })
        .catch(function (error) {
          console.log(error);
          console.log(endLat)
        })


    })
  </script>

  <!-- map script -->
  <!-- Load the Google Maps API -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu5xYBC5OCuZImTFY1xt81NdOnhP0IB_g&callback=initMap"></script>

</body>

</html>