<!DOCTYPE html>
<html>
<head>
    <title>All Drivers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        <h1>All Drivers</h1>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Vehicle No.</th>
                    <th>License No.</th>
                    <th>License Expiration</th>
                    <th>Car</th>
                    <th>Capacity</th>
                </tr>
            </thead>
            <tbody id="driver-data">
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        axios.get('http://127.0.0.1:5000/api/v1/driver/get_all_drivers')
            .then(function(response) {
                console.log(response.data);

                var drivers = response.data.data.drivers;

                var driverData = '';

                drivers.forEach(function(driver) {
                    driverData += '<tr>';
                    driverData += '<td>' + driver.DID + '</td>';
                    driverData += '<td>' + driver.DName + '</td>';
                    driverData += '<td>' + driver.DEmail + '</td>';
                    driverData += '<td>' + driver.DPhoneNo + '</td>';
                    driverData += '<td>' + driver.DVehicleNo + '</td>';
                    driverData += '<td>' + driver.DLicenseNo + '</td>';
                    driverData += '<td>' + driver.DLicenseExpiration + '</td>';
                    driverData += '<td>' + driver.DCar + '</td>';
                    driverData += '<td>' + driver.DCapacity + '</td>';
                    driverData += '</tr>';
                });

                document.getElementById('driver-data').innerHTML = driverData;
            })
            .catch(function(error) {
                console.log(error);
            });
    </script>
</body>
</html>