<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- map -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>

        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu5xYBC5OCuZImTFY1xt81NdOnhP0IB_g&callback=initMap"></script>
      
    
        <!-- page name -->
        <title>Driver Create Carpool</title>
      
        <!-- css -->
        <style>
          /* nav css */
          .nav-item {
            margin-inline-end: 30px;
            text-align: center;
            margin-bottom: 15px;
          }
      
          .routing {
            color: black;
            text-decoration: none;
          }
      
          /* body css */
          body {
            width: 100%;
            height: 100%;
            background-color: honeydew;
          }
      
          .content {
            padding: 5% 20%;
          }
      
          /* map css */
          #map {
            height: 300px;
            margin-bottom: 30px;
            margin-top: 25px;
          }
        </style>
      
      </head>


      <body>
        <!-- nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
      
            <!-- logo -->
            <a href="dHome.html" class="navbar-brand mx-2 routing">
              <img src="../static/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
            </a>
      
            <!-- nav items -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="dHome.html" class="nav-link routing">Home</a>
                </li>
                <li class="nav-item">
                  <a href="dCreateCarpool.html" class="nav-link routing">Offer A Ride</a>
                </li>
                <li class="nav-item">
                  <a href="dUpcoming.html" class="nav-link routing">Upcoming Rides</a>
                </li>
                <li class="nav-item">
                  <a href="dPastRides.html" class="nav-link routing">Ride History</a>
                </li>
                <li class="nav-item">
                  <a href="dProfile.html" class="nav-link routing">Profile</a>
                </li>
                <li class="nav-item">
                  <a href="/logout" class="nav-link routing"><button class="btn btn-sm btn-outline-dark">Log Out</button></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      
        <!-- body -->
        <div class="content">
      
          <!-- form title -->
          <div class="row">
            <h3 class="my-3 text-center">Refund</h3>
          </div>
      
          <!-- enter details of request through form -->
          <div class="d-flex justify-content-center">
            <div class="w-100 mb-5 mt-2">
              <form id="refund">

                <!-- start location -->
                <div class="my-2">
                  <label for="startLocation" class="form-label">Start Location</label>
                  <input type="text" class="form-control" id="startLocation" placeholder="" readonly>
                </div>
      
                <!-- end location -->
                <div class="my-2">
                  <label for="endLocation" class="form-label">End Location</label>
                  <input type="text" class="form-control" id="endLocation" placeholder="Enter Postal Code" required>
                </div>

                <!-- refund price -->
                <div class="my-2">
                  <label for="refundPrice" class="form-label">Calculated Refund Price</label>
                  <input type="text" class="form-control" id="refundPrice" readonly>
                </div>
    
                <button type="submit" id="refund" class="btn btn-outline-dark my-4 w-100 bg-white">Refund Now!</button>
              </form>
               <!-- success message -->
              <div class="row text-center" style="display: none;" id="success"></div>
            </div>
          </div>

          <script>
            function initMap() {
              // Initialize the map
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: { lat: 37.7749, lng: -122.4194 } // Default map center is San Francisco
              });
      
              // Listen for form submission
              document.getElementById('routeForm').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent form submission
      
                // Get the start and end locations
                var startLocation = document.getElementById('startLocation').value;
                var endLocation = document.getElementById('endLocation').value;
      
                // Create the directions service and renderer
                var directionsService = new google.maps.DirectionsService();
                var directionsRenderer = new google.maps.DirectionsRenderer();
      
                // Render the directions on the map
                directionsRenderer.setMap(map);
      
                // Create the request object for directions service
                var request = {
                  origin: startLocation,
                  destination: endLocation,
                  travelMode: 'DRIVING'
                };
      
                // Send the request to the directions service
                directionsService.route(request, function (result, status) {
                  if (status == 'OK') {
                    // Display the route on the map
                    directionsRenderer.setDirections(result);
                  }
                });
              });
              // get lat and lng
              var geocoder = new google.maps.Geocoder();
      
              function getLatLng() {
                return new Promise(resolve => {
                  setTimeout(function () {
                    var startLocation = document.getElementById('startLocation').value;
                    var allLatLng = [];
      
                    geocoder.geocode({ 'address': startLocation }, function (results, status) {
                      if (status === 'OK') {
                        var startlat = results[0].geometry.location.lat();
                        allLatLng.push(startlat)
                        var startlng = results[0].geometry.location.lng();
                        allLatLng.push(startlng)
                        // console.log('Latitude: ' + startlat);
                        // console.log('Longitude: ' + startlng);
                      } else {
                        console.log('Geocode was not successful for the following reason: ' + status);
                      }
                    });
      
                    var endLocation = document.getElementById('endLocation').value;
      
                    geocoder.geocode({ 'address': endLocation }, function (results, status) {
                      if (status === 'OK') {
                        var endlat = results[0].geometry.location.lat();
                        allLatLng.push(endlat)
                        var endlng = results[0].geometry.location.lng();
                        allLatLng.push(endlng)
                        // console.log('Latitude: ' + endlat);
                        // console.log('Longitude: ' + endlng);
                      } else {
                        console.log('Geocode was not successful for the following reason: ' + status);
                      }
      
                      resolve(allLatLng)
                    }, 2000);
                  })
                })
      
                // console.log(allLatLng)
                return allLatLng;
              }
              return getLatLng()
            }
            
      
            // pricing
      
            const startLocation = document.getElementById("startLocation");
            const endLocation = document.getElementById("endLocation");
          
            endLocation.addEventListener("keyup", handleKeyup);
      
            // Define the callback function to be executed on keyup
            async function handleKeyup(event) {
              var allLatLng = await initMap();
              var startLat = allLatLng[0];
              var startLng = allLatLng[1];
              var endLat = allLatLng[2];
              var endLng = allLatLng[3];
      
              // updating the prices
              // axios.get(`http://127.0.0.1:5115/api/v1/calculate_refund_amount/<int:CPID>/<int:PID>/<end_lat>,<end_long>`)
              axios.get(`http://127.0.0.1:5101/api/v1/base_price/${startLat},${startLng}/${endLat},${endLng}`)
                .then(response => {
                  // refund fee
                  var refundFee = response.data.price;
                  console.log(refundFee)
                  document.getElementById("refundPrice").value = refundFee;
                })
                .catch(error => {
                  console.log(error);
                });
            }
      
            // push to add carpool
            let DID = 1; //CHANGE
      
            const refund = document.querySelector('#refund')
            const route = document.querySelector("#route")
            const map = document.querySelector("#map")
            const success = document.querySelector("#success")
      
            refund.addEventListener('click', async () => {
      
              // calculating refund price
              var refundPrice = document.getElementById("refundPrice").value;
              
              // lat and lng
              var allLatLng = await initMap();
              var startLat = allLatLng[0];
              var startLng = allLatLng[1];
              var endLat = allLatLng[2];
              var endLng = allLatLng[3];
      
              route.style.display = 'block';
              map.style.display = 'block';
              success.style.display = 'block';

              // not sure what to do here
              axios.post("http://127.0.0.1:5002/api/v1/carpool/add_new_carpool", {
                "DID": DID,
                "CarpoolPrice": totalPrice,
                "PassengerPrice": passengerPrice,
                "CPStartLocation": document.getElementById("startLocation").value,
                "CPStartLatitude": startLat,
                "CPStartLongitude": startLng,
                "CPEndLocation": document.getElementById("endLocation").value,
                "CPEndLatitude": endLat,
                "CPEndLongitude": endLng,
                "Status": "Active",
                "Capacity_remaining": capacity,
              })
                .then(function (response) {
                  console.log(response);
                  // route and map appear when button is clicked
            
                  console.log(response.data.data.status)
                  document.getElementById("success").innerHTML = response.data.data.status
                })
                .catch(function (error) {
                  console.log(error);
                  document.getElementById("success").innerHTML = error
                })
      
            });
          </script>
    
          <!-- axios -->
          <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

          <!-- map script -->
          <!-- Load the Google Maps API -->
          <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu5xYBC5OCuZImTFY1xt81NdOnhP0IB_g&callback=initMap"></script>
      
          
      </body>
      
      </html>