Chirag

1. Pricing MS - Create the pricing MS which takes in the start and end coordinates from the form and gives a
a base price. 
2. User Login - Try to complete the User Login for all Micrservices
3. Adjust Carpool Price based on people registered 


Wanlin
1. passenger ride offer - link ms to find Carpool
2. passenger rides - show upcoming rides and History
3. driver rides - show upcoming and History
4. driver create Carpool
5. combine driver ride requests and rides 

Bryan 


Timus


William