Chirag

1. Pricing MS - Create the pricing MS which takes in the start and end coordinates from the form and gives a
a base price. 
2. User Login - Try to complete the User Login for all Micrservices
3. Adjust Carpool Price based on people registered 


Wanlin
1. passenger ride offer - link ms to find Carpool
2. passenger rides - show upcoming rides and History
3. driver rides - show upcoming and History
4. driver create Carpool
5. combine driver ride requests and rides 

Bryan 
2. Set up a feedback form (as a MS?) for the dispute ending part. Maybe can reuse review MS? or remove feedback ? 
feels like a repetitative feature..
3. thinkin to do a gmail API in case where customer serice officer is offline, 
they have another channel to contact (used some 1liner instead lmao)

Timus


William